* {
  all: unset;
  font-size: 1.2rem;
  font-family: Inter;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#match.activatable {
  border-radius: 6px;
  margin: 4px 0;
  padding: 4px;
}
#match.activatable:first-child {
  margin-top: 12px;
}
#match.activatable:last-child {
  margin-bottom: 0;
}

#match:hover {
  background: #f5f5f5;
}
#match:selected {
  background: #33d17a;
}

#entry {
  background: #1e1e1e;
  color: #eeeeee;
  border: 1px solid #1e1e1e;
  border-radius: 6px;
  padding: 4px 8px;
}

box#main {
  background: #171717;
  border-radius: 6px;
  padding: 12px;
}
